*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(35, 35, 35);
  overflow: hidden;
  font-family: "Noto Sans SC", Arial, Helvetica, sans-serif;
}

button {
  font-size: 1.1em;
  font-family: "Noto Sans SC", Arial, Helvetica, sans-serif;
  color: white;
  background: linear-gradient(to bottom, white, gray 25%);
  border: 1px solid dimgray;
  border-radius: 6px;
  padding: 0.2em 0.3em;
  cursor: pointer;
}  

button:hover {
  background: linear-gradient(to bottom, white, darkorange 20%);
}

.supreme-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 1fr auto;
}

.main-container {
  min-height: 100%;
  padding: 1em;
  overflow: scroll;
  background-color: black
}

.chatbox-container {
  height: 100%;
  background-color: white;
  padding: 0.75em;
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column
}

.chatbox-container > div {
  margin-bottom: 0.5em;
}

.chat-header {
  font-size: 1.25em;
}

.divider {
  border: 1px solid darkgray;
}

.chat-messages {
  flex-grow: 1;
  overflow: scroll
}

.chat-message {
  margin-bottom: 0.75em;
}

.chat-controls {
  position: absolute;
  bottom: 0; left: 0; right: 0;
  display: flex;
  padding: 0.75em;
}

#chat-input {
  border: 2px solid lightgray;
  min-width: 0;
  flex-grow: 1;
  margin-right: 0.75em;
  font-size: 1.1em
}

.vids-container {
  min-height: 100%;
  background-color: black;
  display: grid;
  grid-auto-rows: minmax(170px, 1fr);
  gap: 0.75em;
  overflow: scroll
}

.vid-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vid-container > div {
  position: relative
}

.vid-container > div::before {
  content: attr(username);
  position: absolute;
  bottom: 0; left: 0;
  color: white;
  font-size: 0.8em;
  background-color: rgb(15, 15, 15);
  border: 2px solid rgb(35,35,35);
  padding: 0.3em 0.6em;
  margin-bottom: 0.5em
}

.video-stream {
  background-color: dimgray;
  width: 100%; height: auto; 
  max-height: 100%;
  border: 2px solid rgb(35, 35, 35) ;
}

.frame-container {
  height: 100%;
  flex-grow: 1;
  border-left: 4px solid darkorange;
  position: relative
}

#hsquizbowl {
  border: none;
  height: 100%; width: 100%;
}

#frame-cover {
  display: none;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  height: 100%; 
  background-color: rgba(255, 0, 0, 0.75);
  font-size: 5rem;
  color: white;
  z-index: 3;
}

#frame-cover > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
}

#frame-cover > div > div {
  text-align: center;
  width: 100%;
}

.reset-frame {
  position: absolute;
  top: 0; right: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.bottom-container {
  padding: 0.75em;
  grid-column: 1 / 3;
  border-top: 3px solid darkorange;
  background-color: rgb(40,40,40);
  display: flex;
  justify-content: space-between;
}

#room-info {
  font-size: 1.4em;
  color: white;
}

.av-controls {
  display: inline-flex;
  gap: 0.75em
}